body{
	/*color: white;*/
	font-family: 'Source Sans Pro', sans-serif;
	background-color: white;
}



		html {
		  font-size: 16px;
		}
		@media screen and (min-width: 690px) {
		  html {
		    font-size: 4.5vw;
		  }
		  h5{
		  	font-size: 5.5vw;
		  }
		}
		@media screen and (min-width: 1000px) {
		  html {
		    font-size: 20px;
		  }
		  h5{
		  	font-size: 23px;
		  }
		}





.title{
	margin-top:-229px;
}


main{
	margin-top: -80px;
	padding-left: 2em;
	padding-right: 2em;
}

aside{
	border-right: 1px dotted lightgray;

}

aside ul{  /*centrar text segun pantalla*/
	margin-top: 1em;
	list-style: none;
	padding-left: 0;
	/*font-size: 2.5vw;*/  /*cambiar tam segun pantalla*/
}

article{
	padding-top: 1em;
	color: gray;
	
	/*font-size: 2.5vw;*/ /*cambiar tam segun pantalla*/
}

article h5{
	color: gray;
	margin-top: 2rem;
}